fastapi==0.118.3
uvicorn[standard]==0.38.0
psycopg2-binary==2.9.11
sentence-transformers==5.1.2
groq==0.37.1
python-dotenv==1.0.0
pydantic==2.12.3
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.0+cpu
transformers==4.57.3
